#
# © 2019 Tocqueville Group
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#

# .git directory invalidates Docker layers cache, and maybe others too
.git
.gitlab-ci.yml
.dockerignore
.stack-work
db.json
.DS_Store
